<p id="notice"><%= notice %></p>

<h1>Delivery Orders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
      <th>Total price</th>
      <th>Name</th>
      <th>City</th>
      <th>District</th>
      <th>Ward</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_orders.each do |delivery_order| %>
      <tr>
        <td><%= delivery_order.user %></td>
        <td><%= delivery_order.status %></td>
        <td><%= delivery_order.total_price %></td>
        <td><%= delivery_order.name %></td>
        <td><%= delivery_order.city %></td>
        <td><%= delivery_order.district %></td>
        <td><%= delivery_order.ward %></td>
        <td><%= delivery_order.address %></td>
        <td><%= delivery_order.phone %></td>
        <td><%= link_to 'Show', delivery_order %></td>
        <td><%= link_to 'Edit', edit_delivery_order_path(delivery_order) %></td>
        <td><%= link_to 'Destroy', delivery_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery Order', new_delivery_order_path %>
