<% unless notice.nil? %>
<% unless notice['message'].nil? %>
<script type="text/javascript">
  alertify.set('notifier','position', 'top-right');
  alertify.success('<%= notice['message'] %>').dismissOthers();
</script>
<% end %>
<% unless notice['errors'].nil? %>
<script type="text/javascript">
  alertify.set('notifier','position', 'top-right');
  alertify.error('<%= notice['errors'] %>').dismissOthers();
</script>
<% end %>
<% end %>

<p>
  <strong>Supplier:</strong>
  <%= @purchase_order.supplier %>
</p>

<p>
  <strong>Available:</strong>
  <%= @purchase_order.available %>
</p>

<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
