<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :admin_username %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :admin_email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :admin_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :admin_gender %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, id: :admin_role %>
  </div>

  <div class="field">
    <%= form.label :manager_id %>
    <%= form.text_field :manager_id, id: :admin_manager_id %>
  </div>

  <div class="field">
    <%= form.label :shop_id %>
    <%= form.text_field :shop_id, id: :admin_shop_id %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.text_field :available, id: :admin_available %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
