<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.text_field :password_digest, id: :user_password_digest %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.number_field :gender, id: :user_gender %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_address %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :user_description %>
  </div>

  <div class="field">
    <%= form.label :auth_token %>
    <%= form.text_field :auth_token, id: :user_auth_token %>
  </div>

  <div class="field">
    <%= form.label :confirm_send_at %>
    <%= form.datetime_select :confirm_send_at, id: :user_confirm_send_at %>
  </div>

  <div class="field">
    <%= form.label :confirm_token %>
    <%= form.text_field :confirm_token, id: :user_confirm_token %>
  </div>

  <div class="field">
    <%= form.label :confirm_at %>
    <%= form.datetime_select :confirm_at, id: :user_confirm_at %>
  </div>

  <div class="field">
    <%= form.label :reset_send_at %>
    <%= form.datetime_select :reset_send_at, id: :user_reset_send_at %>
  </div>

  <div class="field">
    <%= form.label :reset_token %>
    <%= form.text_field :reset_token, id: :user_reset_token %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.check_box :available, id: :user_available %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :user_slug %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :user_city %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_field :district, id: :user_district %>
  </div>

  <div class="field">
    <%= form.label :ward %>
    <%= form.text_field :ward, id: :user_ward %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
