<% unless notice.nil? %>
<% unless notice['message'].nil? %>
<script type="text/javascript">
  alertify.set('notifier','position', 'top-right');
  alertify.success('<%= notice['message'] %>');
</script>
<% end %>
<% unless notice['errors'].nil? %>
<script type="text/javascript">
  alertify.set('notifier','position', 'top-right');
  alertify.success('<%= notice['errors'] %>');
</script>
<% end %>
<% end %>

<h1>Users</h1>
<table id="datatable-buttons" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Available</th>
      <th>Edit</th>
      <th>Lock</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= user.gender %></td>
      <td><%= user.available %></td>
      <td><%= link_to user do %>
        <button class="btn btn-primary btn-xs" ><span class="glyphicon glyphicon-search"></span></button>
        <% end %>
      </td>
      <td><%= link_to user_path(user), method: :put, data: { confirm: 'Are you sure?' } do %>
        <button class="btn btn-primary btn-xs"><span class="<%= user.available == true ? 'fa fa-lock' : 'fa fa-unlock' %>"></span></button>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= javascript_include_tag 'datatables/jquery.dataTables.min' %>
<%= javascript_include_tag 'datatables/dataTables.bootstrap' %>
<%= javascript_include_tag 'datatables/dataTables.buttons.min' %>
<%= javascript_include_tag 'datatables/jszip.min.js' %>
<%= javascript_include_tag 'datatables/pdfmake.min' %>
<%= javascript_include_tag 'datatables/vfs_fonts' %>
<%= javascript_include_tag 'datatables/buttons.html5.min' %>
<%= javascript_include_tag 'datatables/buttons.print.min' %>
<%= javascript_include_tag 'datatables/dataTables.responsive.min' %>
<%= javascript_include_tag 'datatables/responsive.bootstrap.min' %>
<%= javascript_include_tag params[:controller] %>
