<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @request.phone_number %>
</p>

<p>
  <strong>Shop name:</strong>
  <%= @request.shop_name %>
</p>

<p>
  <strong>Shop address:</strong>
  <%= @request.shop_address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @request.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @request.longitude %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
