<!DOCTYPE html>
<html lang="en">

<head>
  <title>EcommerceAdmin</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="background:#F7F7F7;">

  <div class="">
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h1>Login Form</h1>
            <% flash.each do |key, value| %>
              <div class="<%= flash_class(key) %>">
                    <%= value %>
              </div>
            <% end %>
            <div>
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email", required: true %>
            </div>

            <div>
              <%= f.password_field :password, class: 'form-control', placeholder: "Password", required: true, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-default submit" %>
              <%= render "devise/shared/links" %>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
              <br />
              <div>
                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> SuperShop!</h1>
              </div>
            </div>
          <% end %>
          <!-- form -->
        </section>
        <!-- content -->
      </div>
    </div>
  </div>

</body>

</html>
