<%= form_with(model: products_purchase_order, local: true) do |form| %>
  <% if products_purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(products_purchase_order.errors.count, "error") %> prohibited this products_purchase_order from being saved:</h2>

      <ul>
      <% products_purchase_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, id: :products_purchase_order_product_id %>
  </div>

  <div class="field">
    <%= form.label :purchase_order_id %>
    <%= form.text_field :purchase_order_id, id: :products_purchase_order_purchase_order_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :products_purchase_order_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
