<div class="x_content">
  <!-- start form for validation -->
  <%= form_with(model: category, local: true, id: "demo-form2", class: "form-horizontal form-label-left") do |form| %>
  <% if category.errors.any? %>
  <% category.errors.full_messages.each do |message| %>
  <script>
    alertify.set('notifier','position', 'top-right');
    alertify.error('<%= message %>');
  </script>
  <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "control-label col-md-3 col-sm-3 col-xs-12" %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= form.text_field :name, id: :category_name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="ln_solid"></div>

  <div class="actions form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
  <!-- end form for validations -->

</div>
