<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @products_delivery_order.product %>
</p>

<p>
  <strong>Delivery order:</strong>
  <%= @products_delivery_order.delivery_order %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @products_delivery_order.quantity %>
</p>

<%= link_to 'Edit', edit_products_delivery_order_path(@products_delivery_order) %> |
<%= link_to 'Back', products_delivery_orders_path %>
