<!DOCTYPE html>
<html>
<head>
  <title>EcommerceAdmin</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= cloudinary_js_config %>
</head>
<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <%# Begin Menu Left %>
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title">
              <%= image_tag("/assets/logo.png", class: "img_circle", width: '28%'  ) %> <span>Super Shop</span>
            </a>
          </div>
          <div class="clearfix"></div>

          <div class="profile">
            <div class="profile_pic">
              <% if current_admin.role === 'admin' %>
              <img src="http://www.lets-develop.com/wp-content/themes/olivias_theme/images/custom-avatar-admin.jpg" class="img-thumbnail img-circle profile_img" alt="admin" />
              <% elsif current_admin.role === 'manager' %>
              <img src="https://bootstrapmaster.com/wp-content/themes/bootstrap/img/avatars/noavatar.png" class="img-thumbnail img-circle profile_img" alt="manager" />
              <% else %>
              <img src="http://bodyworkshealthclinic.com/images/avatar.png" class="img-thumbnail img-circle profile_img" alt="partner" />
              <% end %>
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2><%= current_admin.name %></h2>
            </div>
          </div>
          <br />
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li>
                  <%= link_to root_path do %>
                  <i class="fa fa-home"></i> Home
                  <% end %>
                </li>
                <% if can? :manage, User %>
                <li>
                  <%= link_to users_path do %>
                  <i class="fa fa-user"></i> Users
                  <% end %>
                </li>
                <% end %>
                <% if can? :manage, Admin %>
                <li>
                  <%= link_to admins_path do %>
                  <i class="fa fa-user"></i> Admins
                  <% end %>
                </li>
                <% end %>
                <% if can? :manage, Request %>
                <li>
                  <%= link_to requests_path do %>
                  <i class="fa fa-newspaper-o"></i> Request
                  <% end %>
                </li>
                <% end %>
                <% if can? :manage, Category %>
                <li>
                  <%= link_to categories_path do %>
                  <i class="fa fa-server"></i> Category & Sub Category
                  <% end %>
                </li>
                <% end %>
                <% if can? :manage, Shop %>
                <li>
                  <%= link_to shops_path do %>
                  <i class="fa fa-building"></i> Shops
                  <% end %>
                </li>
                <% end %>
                <% if can? :manage, Product %>
                <li>
                  <%= link_to products_path do %>
                  <i class="fa fa-product-hunt"></i> Products
                  <% end %>
                </li>
                <% end %>
                <% if can? :manage, PurchaseOrder %>
                <li>
                  <%= link_to purchase_orders_path do %>
                  <i class="fa fa-calendar-plus-o"></i> Purchase Orders
                  <% end %>
                </li>
                <% end %>
                <% if can? :read, DeliveryOrder %>
                <li>
                  <%= link_to delivery_orders_path do %>
                  <i class="fa fa-calendar-minus-o"></i> Delivery Orders
                  <% end %>
                </li>
                <% end %>
                <% if can? :manage, User %>
                <li>
                  <a>
                    <i class="fa fa-line-chart"></i> Statistic <span class="fa fa-chevron-down"></span>
                  </a>
                  <ul class="nav child_menu" style="display: none">
                    <li>
                      <%= link_to 'Revenue', revenue_index_path %>
                    </li>
                    <li>
                      <%= link_to 'Statistic 2', delivery_orders_path %>
                    </li>
                  </ul>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="sidebar-footer hidden-small">
          </div>
        </div>
      </div>
      <%# End Menu Left %>
      <%# Begin Top Bar %>
      <div class="top_nav">
        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                 <% if current_admin.role === 'admin' %>
                 <img src="http://www.lets-develop.com/wp-content/themes/olivias_theme/images/custom-avatar-admin.jpg" alt="admin" />
                 <% elsif current_admin.role === 'manager' %>
                 <img src="https://bootstrapmaster.com/wp-content/themes/bootstrap/img/avatars/noavatar.png" alt="manager" />
                 <% else %>
                 <img src="http://bodyworkshealthclinic.com/images/avatar.png" alt="partner" />
                 <% end %>
                 <%= current_admin.name %>
                 <span class=" fa fa-angle-down"></span>
               </a>
               <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                <li><a href="javascript:;">  Profile</a>
                </li>
                <li><%= link_to destroy_admin_session_path, method: :delete do %>
                  <i class="fa fa-sign-out pull-right"></i> Log Out
                  <% end %>
                </li>
              </ul>
            </li>
            <% if current_admin.role === 'admin' %>
            <li role="presentation" class="dropdown">
              <a href="/requests" class="dropdown-toggle info-number">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-green"><%= Request.all.count %></span>
              </a>
            </li>
            <% elsif current_admin.role === 'manager' %>
            <li role="presentation" class="dropdown">
              <a href="/requests">
                <i class="fa fa-building"></i>
                <span class="badge bg-green"><%= current_shop.name %></span>
              </a>
            </li>
            <% else %>
            <li role="presentation" class="dropdown">
              <a href="#">
                <i class="fa fa-building"></i>
                <span class="badge bg-green"><%= current_shop.name %></span>
              </a>
            </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
    <%# End Top Bar %>
    <%# Begin Content Bar %>
    <div class="right_col" role="main">
      <%= yield %>
      <footer>
        <div class="copyright-info">
          <p class="pull-right">
          </p>
        </div>
        <div class="clearfix"></div>
      </footer>
    </div>
    <%# End Top Bar %>
  </div>
</div>
</div>
</body>
</html>
